.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: var(--color-aticles-bg);
  /* border: 1px solid red; */

}

.article-box { 
  width: 80%;
  height: auto;
  border: 1px solid blue;
  margin: 32px 16px;

  h1 { 
    margin: 16px;
  }
}

.district-province { 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin: 16px ;
  border: 1px solid red;
  gap: 16px;
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin: 16px ;
  gap: 16px;
}

.tag { 
  width: auto;
  border: 1px solid black;
  padding: 0 16px;
}

.article-box-I { 
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 375px; 
  border: 1px solid blue; 
  margin: 16px;
}
.article-box-I-left { 
  width: 600px;
  height: 100%;
  border: 1px solid red;
}
.article-box-I-right { 
  width: 400px;
  height: 100%;
  border: 1px solid red;
}

.content-container {
  display: flex;
  width: 80%;
  height: auto;
  border: 1px solid blue;
  margin-top: 3rem;
}
.traveler-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: auto;
  border: 1px solid blue;

}







.main-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.weather-widget {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e0f7fa;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}