.aqi-box-I {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  border-radius: 8px 8px 0 0;
  /* border-bottom: 1px solid var(--color-border); */
  gap : 30px;
  transition: background-color 0.3s ease;
}

/* Background colors for aqi-box-I */
.aqi-box-I.good { 
    background-color: var(--color-good-bg);
}
.aqi-box-I.moderate { 
    background-color: var(--color-moderate-bg);
}
.aqi-box-I.unhealthy-sensitive { 
    background-color: var(--color-unhealthy-sensitive-bg);
}
.aqi-box-I.unhealthy { 
    background-color: var(--color-unhealthy-bg);
}
.aqi-box-I.very-unhealthy { 
    background-color: var(--color-very-unhealthy-bg);
}
.aqi-box-I.hazardous { 
    background-color: var(--color-hazardous-bg);
}

.aqi-box-II {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  border-radius: 0 0 16px 16px;
}

.aqi-box-III { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  border-top: 1px solid var(--color-border);
}

/* Background colors for aqi-box-III */
.aqi-box-III.good { 
    background-color: var(--color-good-bg);
}
.aqi-box-III.moderate { 
    background-color: var(--color-moderate-bg);
}
.aqi-box-III.unhealthy-sensitive { 
    background-color: var(--color-unhealthy-sensitive-bg);
}
.aqi-box-III.unhealthy { 
    background-color: var(--color-unhealthy-bg);
}
.aqi-box-III.very-unhealthy { 
    background-color: var(--color-very-unhealthy-bg);
}
.aqi-box-III.hazardous { 
    background-color: var(--color-hazardous-bg);
}

.container-aqi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--color-navbar-bg);
  border-radius: 16px;
  box-shadow: 2px 2px 6px var(--color-border)
}

.aqi-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 75%;
  border-radius: 16px;
  margin-left: 20px;
}

.aqi-number {
  font-size: 54px;
  font-weight: bold;
  padding: 0;
  width: auto;
  height: 55px;
}

.aqi-label {
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 10px;
}

.aqi-status {
  display: flex;
  justify-content: center;
  align-items: center ;
  width: auto;
  height: auto;
  font-size: 30px;
  font-weight: bold;
  color: var(--color-text);
  margin: 20px 0px;
  
}



.pollutant-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  /* border-bottom: 1px solid #eee; */
  padding-bottom: 0.5rem;

}

.pollutant-label {
  display: flex;
  justify-content: center;
  align-items: center;  ;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.pollutant-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  gap: 30px;

}

.pollutant-secondary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.pollutant-secondary-left { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin-left: 25px;
}

.pollutant-secondary-right { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  height: 100%;
}