.campRec-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
height: auto;

}
.campSearchRac-header { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 ;
;
}

.staySearchRac-header { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 ;

}