.card-daily { 
  width: 110px ;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  gap: 2px;
  background-color: var(--color-navbar-bg);
  border-radius: 15px;
}

.day { 
  font-size: 16px;
}

.temp-max-min { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;

}
.max {
  font-size: 10px;
}
.min {
  font-size: 10px;
}

.icon { 
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* เพิ่มบรรทัดนี้ */
}

.condition {
   font-size: 12px;
}

.rain { 
  font-size: 10px;
}

.weather-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block; /* เพิ่มบรรทัดนี้ */
}

