body {
  margin: 0;
  font-family: "Noto Serif Thai", serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: rgb(190, 217, 217);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

:root {
  --color-primary: #05362A; /* เขียวเข้ม (ปุ่ม) */
  --color-secondary: #156B56; /* เขียวอ่อน (ตัวอักษร) */
  --color-navbar-bg: #fff;  /* พื้นหลัง navbar */
  --color-border : #e6e8e8; /* สีกรอบ */
  --color-shadow: rgba(0, 0, 0, 0.1); /* เงา */
  --color-input:  #888; /* สีข้อความ */
  --color-text: black; /* สี placeholder */

  --color-good: #009966;
  --color-moderate: #ffde33;
  --color-unhealthy-sensitive: #ff9933;
  --color-unhealthy: #cc0033;
  --color-very-unhealthy: #660099;
  --color-hazardous: #7e0023;

    --color-good-bg: #DCFFAE;
  --color-moderate-bg: #fcf5d1;
  --color-unhealthy-sensitive-bg: #f8e8d8;
  --color-unhealthy-bg: #e0bac4;
  --color-very-unhealthy-bg: #e2c8ef;
  --color-hazardous-gg: #f4bccc;

  --color-aticles-bg: #F5FFFE;
}
